<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.SalesMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sales(name, price, custid, custname, progress, lasttime, userid, username)
        VALUES(#{name},#{price},#{custid},#{custname},#{progress},#{lasttime},#{userid},#{username});
    </insert>
    <update id="update">
        UPDATE t_sales SET lasttime = #{lasttime},successtime=#{successtime},progress=#{progress}
         where id = #{id}
    </update>
    <delete id="del">
        DELETE FROM t_sales WHERE id = #{id}
    </delete>
    <select id="findAll" resultType="Sales">
        SELECT * FROM t_sales
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_sales
    </select>
    <select id="countByparam" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_sales
        <where>
            <if test="userid!=null and userid!=''">
                userid=#{userid}
            </if>
            <if test="name!=null and name!=''">
                name LIKE concat('%',#{name},'%')
            </if>
            <if test="progress!=null and progress!=''">
                and progress = #{progress}
            </if>
            <if test="startDate!=null and startDate!=''">
                and date(lasttime) >= #{startdate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and date(lasttime) &lt;= #{enddate}
            </if>
        </where>
    </select>
    <select id="findSalesByParam" resultType="com.kaishengit.pojo.Sales">
        SELECT * FROM t_sales
        <where>
            <if test="userid!=null and userid!=''">
                userid=#{userid}
            </if>
            <if test="name!=null and name!=''">
                name LIKE concat('%',#{name},'%')
            </if>
            <if test="progress!=null and progress!=''">
                and progress = #{progress}
            </if>
            <if test="startDate!=null and startDate!=''">
                and date(lasttime) >= #{startdate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and date(lasttime) &lt;= #{enddate}
            </if>
        </where>
        order by id desc
        limit ${start},${length}
    </select>
    <select id="findSalesById" resultType="com.kaishengit.pojo.Sales">
        SELECT * FROM t_sales WHERE id = #{id}
    </select>
    <select id="findSalesByCustId" resultType="com.kaishengit.pojo.Sales">
        SELECT * FROM t_sales WHERE custid = #{custid}
    </select>
    <select id="findSaleCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_sales WHERE DATE(successtime) >= #{start}
        and DATE(successtime) &lt;=#{end} and progress = #{state}
    </select>
    <select id="findSaleMoney" resultType="java.lang.Float">
        SELECT ifnull(SUM(price),0) FROM t_sales WHERE DATE(successtime) >= #{start}
        and DATE(successtime) &lt;=#{end} and progress = #{state}
    </select>
    <select id="countProgress" resultType="java.util.Map">
        SELECT temp.custtype AS `name`,(SELECT count(*) FROM t_sales WHERE t_sales.progress=temp.custtype
        and date(createtime) >= #{start}
        and date(createtime) &lt;= #{end}) AS `value`
        FROM (SELECT "初次接触" AS `custtype`
        UNION SELECT "确认意向"
        UNION SELECT "提供合同"
        UNION SELECT "交易完成"
        UNION SELECT "交易搁置") as `temp`
    </select>
    <select id="totalUserMoney" resultType="java.util.Map">
        SELECT user.realname,(SELECT ifnull(sum(price),0) FROM
        t_sales WHERE userid = user.id and date(successtime) >= #{start}
        and date(successtime) &lt;= #{end} )as price from (SELECT id,realname FROM t_user) as user
    </select>
</mapper>